<template>
  <view class="content lives_box">
    <view class="lives_item" v-for="(item) in roomList" :key="item.roomid"
          :class="{ end: item.live_status === 103 }" @click="hanldeToLive(item.roomid)">
      <image :src="item.cover_img"></image>
      <view class="info">
        <view>{{ item.name }}</view>
        <text>主播: {{ item.anchor_name }}</text>
      </view>
    </view>
  </view>
</template>

<script>
export default {
  data() {
    return {
      roomList: []
    }
  },
  async onLoad() {
    //获取直播列表
    const cloud = await this.$cloud;
    const { result } = await cloud.callFunction({
      name: "liveroom" //云函数名
    })
    this.roomList = result?.body?.room_info;
  },
  methods: {
    hanldeToLive(roomid) {
      // 进入直播间
      let customParams = encodeURIComponent(JSON.stringify({ path: 'pages/live/index', pid: 1 }))
      uni.navigateTo({
        url: `plugin-private://wx2b03c6e691cd7370/pages/live-player-plugin?room_id=${roomid}&custom_params=${customParams}`
      })
    },
  }
}
</script>

<style lang="scss" scoped>
.lives_box {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 2px;
}

.lives_item {
  margin: 5px;
  width: calc((100% - 20px) /2);
  font-size: 13px;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  position: relative;

  .info {
    box-sizing: border-box;
    padding-left: 10px;
    line-height: 20px;
  }
}

.lives_box .lives_item.end:before {
  content: "直播已结束";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.lives_item image {
  width: 100%;
  height: 150px;
}
</style>
