<template>
    <view id="img">
      <image :src="defaultSrc" @error="handelError" />
    </view>
  </template>
  
  <script>
  import image from "@/static/icon/error.png";
  export default {
    props: {
      src: String,
    },
    data(){
      return {
        defaultSrc: this.src,
      };
    },
    methods: {
      handelError() {
        this.defaultSrc = image;
      },
    },
  };
  </script>
  
  <style>
  image{
    width:100%;
    height: 150px;
  }
  </style>