<template>
  <view>
    <ColumnShop :list="newData" />
  </view>
</template>

<script>
import ColumnShop from '@/components/columnShop/index'
import { getDaily } from "../../service/index"
export default {
  name: "daily_crazy",
  components: {
    ColumnShop
  },
  props: {},
  data() {
    return {
      newData: []
    }
  },
  computed: {},
  methods: {
    async getNew() {
      let { records } = await getDaily()
      this.newData = records;
    },
  },
  watch: {},

  // 页面周期函数--监听页面加载
  onLoad() {
    this.getNew()
  },
  // 页面周期函数--监听页面初次渲染完成
  onReady() { },
  // 页面周期函数--监听页面显示(not-nvue)
  onShow() { },
  // 页面周期函数--监听页面隐藏
  onHide() { },
  // 页面周期函数--监听页面卸载
  onUnload() { },
  // 页面处理函数--监听用户下拉动作
  // onPullDownRefresh() { uni.stopPullDownRefresh(); },
  // 页面处理函数--监听用户上拉触底
  // onReachBottom() {},
  // 页面处理函数--监听页面滚动(not-nvue)
  // onPageScroll(event) {},
  // 页面处理函数--用户点击右上角分享
  // onShareAppMessage(options) {},
} 
</script>

<style lang="scss" scoped>

</style>