<template>
  <view class="comment_popup">
    <slot />
  </view>
</template>

<script>
export default {
  props: ['comment', 'class'],
  methods: {
   /*  close() {
      console.log(111);
      this.$emit('close')
    }, */
  },
}
</script>

<style scoped lang="scss">
.comment_popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;

  
}
</style>