.pay {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #f1f1f1;
  > view {
    width: 100%;
    margin-bottom: 10px;
  }
  .address {
    background-color: #fff;
    .noAddr {
      text-align: center;
      line-height: 50px;
    }
  }
  .shop {
    background-color: #fff;
    .flex_end {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 10px;
	  line-height: 30px;
    }
    .card {
      background-color: #fff;
      view.van-card {
        background-color: #fff;
      }
    }
  }
}

	
/* .van-cell__value{
	color: #f09;
} */
.popup-cnt {
  position: fixed;
  left: 0;
  bottom: 50px;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.3);
  .popup-check {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fff;
    .coupons {
      display: flex;
      flex-direction: column;
      > view {
        box-sizing: border-box;
        padding: 0 10px;
        .title {
          line-height: 30px;
          border-bottom: 1px solid #f1f1f1;
        }
        .can {
          color: #f09;
        }
        .unCan {
          color: #ccc;
        }
        .list {
          box-sizing: border-box;
          padding-left: 10px;
          line-height: 24px;
        }
      }
    }
  }
}
