<template>
    <view class="noticedetail_box">
        <view class="container">
            <h3>{{noticeDetailList.title}}</h3>
            <rich-text :nodes="noticeDetailList.content"></rich-text>
        </view>
    </view>
</template>

<script>
import { getNoticeDetail } from "../../service/index"
export default {
    data() {
        return {
            noticeDetailList: []
        }
    },
    onLoad(options) {
        this.init(options.id)
    },
    methods: {
        formateHtml(htmlStr) {
            return htmlStr.replace(/width\=\"\d+\"/g, 'width="100%"').replace(/height\=\"\d+\"/g, '')
        },
        async init(id) {
            const data = await getNoticeDetail(id)
            data.content=this.formateHtml(data.content)
            this.noticeDetailList = data;
        }
    },
}
</script>

<style lang="scss" scoped>
.noticedetail_box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    .container {
        width: 85%;

        h3 {
            margin-top: 30px;
            font-size: 16px;
            margin-left: 5px;
            margin-bottom: 20px;
        }
    }
}
</style>