<template>
  <view class="contain_new">
    <ColumnShop :list="newData" />
  </view>
</template>

<script>
import ColumnShop from '@/components/columnShop/index'
import { getnewShop } from "@/service/index"
export default {
  name: "daily_newShop",
  components: {
    ColumnShop
  },
  props: {},
  data() {
    return {
      newData: [],
      current: 1,
      flag:false,
    }
  },
  computed: {},
  methods: {
    async getNew() {
      let { records } = await getnewShop({
        current: this.current,
        size: 6
      })
      if(this.flag){
        this.newData = this.newData.concat([...records]);
      }else{
        this.newData=records;
      }
    },
    //跳转商品详情
    toDetail(id) {
      uni.navigateTo({
        url: `/pages/details/index?id=${id}`
      })
    }

  },
  watch: {},

  // 页面周期函数--监听页面加载
  onLoad() {
    this.getNew()
  },
  onPullDownRefresh() {
    // console.log('refresh');
    this.getNew()
    // uni.startPullDownRefresh();
    setTimeout(function () {
      uni.stopPullDownRefresh();
    }, 1000);
  },
  onReachBottom() {
    console.log('上拉加载');
    this.flag=true
    setTimeout(() => {
      this.current++;
      this.getNew()
      // console.log(this.current);
    }, 1000);

  },
  // 页面周期函数--监听页面初次渲染完成
  onReady() { },
  // 页面周期函数--监听页面显示(not-nvue)
  onShow() { },
  // 页面周期函数--监听页面隐藏
  onHide() { },
  // 页面周期函数--监听页面卸载
  onUnload() { },
  // 页面处理函数--监听用户下拉动作
  // onPullDownRefresh() { uni.stopPullDownRefresh(); },
  // 页面处理函数--监听用户上拉触底
  // onReachBottom() {},
  // 页面处理函数--监听页面滚动(not-nvue)
  // onPageScroll(event) {},
  // 页面处理函数--用户点击右上角分享
  // onShareAppMessage(options) {},
} 
</script>

<style lang="scss" scoped>
.contain_new {
  height: 100%;
  width: 100%;
}
</style>