<template>
  <view class="collection">
    <view v-if="hasUser">
      <view v-if="list.length>0">
        <view @click="toDetail(item.prodId)" v-for="(item, index) in list" :key="index">
          <van-card :price="item.price" :desc="item.brief" :title="item.prodName" :thumb="item.pic"
                    class="collection_cart">

          </van-card>
        </view>

      </view>
      <view v-else>
        <van-empty class="custom-image" image="https://img.yzcdn.cn/vant/custom-empty-image.png"
                   description="暂时还未有收藏商品" />
      </view>
    </view>
    <view v-else class="noUser">
      暂无授权/登录
    </view>
  </view>
</template>

<script src="./js/index.js"></script>

<style scoped lang="scss">
@import './scss/index.scss';
</style>