<template>
	<view>
		<!-- 搜索 -->
		<view class="input_box" @click="toSearch">
			<van-search input-align="center" placeholder="搜索" style='width:100%' shape="round" />
		</view>

		<!-- 轮播 -->
		<uni-swiper-dot :current="current" field="content" :mode="mode" class="swiper">
			<swiper class="swiper-box" @change="change" :autoplay="true" circular indicator-dots :interval="interval">
				<swiper-item v-for="(item ,index) in dataImg" :key="index">
					<image lazy-load :src="item.imgUrl"></image>
				</swiper-item>
			</swiper>
		</uni-swiper-dot>
		<!-- 宫格 -->
		<!-- 新品推荐 -->
		<view class="intruduction">
			<ul>
				<li @click="tonewThing">
					<p><img src="@/static/icon/newProd.png" alt="" /></p>
					<text>新品推荐</text>
				</li>
				<li @click="totimeSale">
					<p><img src="@/static/icon/timePrice.png" alt="" /></p>
					<text>限时特惠</text>
				</li>
				<li @click="toeveryBuy">
					<p><img src="@/static/icon/neweveryday.png" alt="" /></p>
					<text>每日疯抢</text>
				</li>
			</ul>
		</view>
		<!-- 最新公告加纵向轮播 -->
		<uni-swiper-dot :current="current" field="content" :mode="mode" class="swiper1">
			<swiper v-if="noticeData.length>0" class="swiper_time" @change="change" circular :vertical="true"
				:autoplay="true" :interval="interval">
				<swiper-item class="swiper_items" v-for="(item ,index) in noticeData" :key="index" @click="tonotice">
					<view class="notice">
						<image class="notice_img"
							src="../../static/icon/horn.png"></image><text
							class="notice_text">{{item.title}}</text><text>></text>
					</view>
				</swiper-item>
			</swiper>
		</uni-swiper-dot>
		<!-- 每日上新 -->
		<view class="newday_box">
			<view class="new_day">
				<text class="new_day_left">每日上新</text>
				<text class="new_day_right" @click="tolookmore"><text class="geng">查看更多</text></text>
			</view>
			<view class="colors">
				<view class="newday_content">
					<view class="newday_for" v-for="(item, index) in newDatas" :key="index"
						@click="toDetail(item.prodId)">
						<NewDay :item="item"></NewDay>
					</view>
				</view>
			</view>

		</view>
		<!-- 商城热卖 -->
		<view class="shop_new_box">
			<view class="shop_new_day"><text class="shop_new_day_left title">商城热卖</text>
				<text class="shop_new_day_right" @click="toshophot"><text class="shop_geng">更多></text></text>
			</view>
			<view class="content_box">
				<ColumnShop :list="shopData" />
			</view>
		</view>
		<!-- 更多宝贝 -->
		<view class="morebaby_box">
			<view class="baby_top title" @click="tomorebaby">更多宝贝</view>
			<view>
				<view v-for="(item, index) in babyData" :key="index" class="baby_context_box"
					@click="toDetail(item.prodId)">
					<view class="baby_img">
						<image :src="item.pic" class="img"></image>
					</view>
					<view class="context">
						<view>{{item.prodName}}</view>
						<view class="brief">{{item.brief}}</view>
						<view class="price"><text class="price_left">￥{{item.price}}</text>
							<image src="@/static/tabbar/basket-sel.png" class="img1"></image>
						</view>
					</view>

				</view>
			</view>
		</view>
	</view>
</template>

<script>
import ColumnShop from '@/components/columnShop/index'
import NewDay from '@/components/newDay/index'
import { getIndexImg, getNotice, getNewDay, shopHot, moreBaby } from '../../service/index';
export default {
	data() {
		return {
			interval: 2000,
			autoplay: true,
			current: 0,
			mode: 'round',
			dataImg: [],
			noticeData: [],
			newDatas: [],
			shopData: [],
			babyData: []
		}
	},
	components: {
		NewDay,
		ColumnShop
	},
	onLoad() {
		this.getIndexData(),
			this.noticeing()  //全部数据
	},
	methods: {
		//跳转到搜所页面
		toSearch() {
			uni.navigateTo({
				url: '/searchPkg/search/index'
			})
		},
		// 轮播
		change(e) {
			this.current = e.detail.current;
		},
		//获取轮播图数据
		async getIndexData() {
			let ImgList = await getIndexImg()
			this.dataImg = ImgList
		},
		//新品推荐
		tonewThing() {
			uni.navigateTo({
				url: '/pages/daily_newShop/index'
			});
		},
		//限时特惠
		totimeSale() {
			uni.navigateTo({
				url: '/pages/limitedTime/index'
			});
		},
		//每日疯抢
		toeveryBuy() {
			uni.navigateTo({
				url: '/pages/daily_crazy/index'
			});
		},
		//公告
		async noticeing() {
			let timeDayNew = await getNewDay();
			this.newDatas = timeDayNew.records;
			let shopHotData = await shopHot()  //商城热卖
			this.shopData = shopHotData.records;
			let moreBabyData = await moreBaby()  //更多宝贝
			let noticeLIst = await getNotice()
			this.noticeData = noticeLIst;
			moreBabyData.records && moreBabyData.records.map((item) => {
				return item.price = item.price.toFixed(2)
			})
			this.babyData = moreBabyData.records;
		},
		//跳转最新公告页面
		tonotice() {
			uni.navigateTo({
				url: '/pages/notice/index'
			})
		},
		//跳转查看更多
		tolookmore() {
			uni.navigateTo({
				url: '/pages/new_date/index'
			})
		},
		//跳转商城热卖
		toshophot() {
			uni.navigateTo({
				url: '/pages/shop_hot/index'
			})
		},
		//跳转更多宝贝
		tomorebaby() {
			uni.navigateTo({
				url: '/pages/more_baby/index'
			})
		},
		//跳转商品详情
		toDetail(id) {
			uni.navigateTo({
				url: `/pages/details/index?id=${id}`
			})
		},

	},

}
</script>

<style lang="scss" scoped>
@import './scss/index.scss';
</style>

