<template>
  <view class="newdayItem">
    <base-image :src="item.pic"/>
    <view class="newday_space">{{item.prodName}}</view>
    <view class="newprice">￥{{item.price}}</view>
  </view>
</template>

<script>
export default {
  props: {
    item: {
      type: Object, // 类型
      default: {}
    },
  },
}
</script>

<style lang="scss" scoped>
.newdayItem {
  width: 100%;

  image {
    width: 100%;
    height: 100px;
    border-radius: 5px 5px 0px 0px;
  }

  .newprice {
    color: red;
  }
}

.newday_space {
  width: 100%;
  height: 40px; //如果设置了高度，且高度超过文本显示行数，在第三行会正常出现省略号，但是三行之后的仍然正常显示
  // background-color: pink;
  /* 设置高度是行高的倍数，防止文本露出一半 */
  line-height: 20px;
  /* 旧版弹性盒 */
  display: -webkit-box;
  /* 弹性盒子元素垂直排列 */
  -webkit-box-orient: vertical;
  /* 控制要显示的行数 */
  -webkit-line-clamp: 2;
  overflow: hidden;
}
</style>