<template>
	<view class="class">
		<view class="header">

		</view>
		<view class="main">
			<view class="class_sider">
				<view :class="activeKey === item.categoryId ? 'active':'' " v-for="(item, index) in arr" :key="index"
							@click="getClassItem(item.categoryId,index)">
					{{item.categoryName}}
				</view>
			</view>
			<scroll-view class="class_container">
				<view class="activePic">
					<image :src="activePic" mode="scaleToFill" />
				</view>
				<view class="active_container" v-if="childArr.length > 0">
					<dl v-for="(item, index) in childArr" :key="index" @click="toDetail(item.prodId)">
						<dt>
							<image :src="item.pic" mode="scaleToFill" />
						</dt>
						<dd>
							<view class="prodName">{{item.prodName}}</view>
							<view class="brief">{{item.brief}}</view>
							<view class="price">￥{{item.price}}</view>
						</dd>
					</dl>
				</view>
			</scroll-view>
		</view>
	</view>
</template>
 
<script>
import { getClassData, getClassDataItem } from '../../service/index'
export default {
	data() {
		return {
			arr: [],
			childArr: [],
			activeKey: 0,
			activePic: '',
			current: 1,
			total: 0
		}
	},
	onLoad() {
		this.getClass()

	},
	methods: {
		async getClass() {
			let data = await getClassData()
			this.arr = data
			this.activeKey = data[0].categoryId
			this.activePic = data[0].pic
			this.getClassItem(this.activeKey)
		},
		async getClassItem(id, index) {
			this.childArr = []
			let { records, total } = await getClassDataItem({
				current: 1,
				size: 5,
				categoryId: id,
			})
			this.childArr = records
			this.activePic = this.arr[index].pic
			this.activeKey = id
			this.total = total
		},
		async toDetail(id) {
			uni.navigateTo({ url: `/pages/details/index?id=${id}` })
		}
	},
	async onReachBottom() {
		if (this.total > this.childArr.length) {
			this.current++
			let arr = await getClassDataItem({
				current: this.current,
				size: 5,
				categoryId: this.activeKey,
			})
			console.log(arr);
			this.childArr = this.childArr.concat([...arr.records])
		}
	}
}
</script>

<style lang="scss" scoped>
.class {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	.main {
		width: 100%;
		display: flex;
		position: relative;

		.class_sider {
			width: 180rpx;
			height: 100%;
			background-color: #f1f1f1;
			text-align: center;
			position: fixed;
			left: 0;
			top: 0;
			font-size: 28rpx;

			>view {
				width: 100%;
				height: 100rpx;
				line-height: 100rpx;
			}

			.active {
				width: 100%;
				color: #f09;
				background-color: #fff;
				position: relative;
			}

			.active::before {
				content: '';
				border-left: 6rpx solid #f09;
				height: 50rpx;
				position: absolute;
				left: 0;
				top: 50%;
				margin-top: -25rpx;
			}
		}

		.class_container {
			position: absolute;
			left: 180rpx;
			top: 0;
			width: calc(100% - 180rpx);
			padding: 20rpx;
			box-sizing: border-box;

			.activePic {
				width: 100%;
				height: 200rpx;

				image {
					width: 100%;
					height: 100%;
				}
			}

			.active_container {
				width: 100%;
				display: flex;
				flex-direction: column;

				dl {
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: space-around;
					margin: 20rpx 0;

					dt {
						width: 160rpx;
						height: 160rpx;

						image {
							width: 100%;
							height: 100%;

						}
					}

					dd {
						width: calc(100% - 200rpx);
						margin-left: 20rpx;

						>view {
							width: 100%;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							line-height: 40rpx;
						}

						.prodName {
							font-weight: bold;
							font-size: 28rpx;
						}

						.brief {
							color: #999;
							font-size: 24rpx;
						}

						.price {
							color: #f09;
							font-size: 28rpx;

						}
					}
				}
			}
		}
	}

}
</style>
