<template>
  <view>
    <button>确定</button>
    <picker-view v-if="show" :indicator-style="indicatorStyle" :value="value" @change="bindChange" class="picker-view">
      <picker-view-column>
        <view class="item" v-for="(item,index) in province" :key="index">{{item.areaName}}</view>
      </picker-view-column>
      <picker-view-column>
        <view class="item" v-for="(item,index) in city" :key="index">{{item.areaName}}</view>
      </picker-view-column>
      <picker-view-column>
        <view class="item" v-for="(item,index) in area" :key="index">{{item.areaName}}</view>
      </picker-view-column>
    </picker-view>
  </view>
</template>

<script>
import { getAddr } from '@/service/user'
export default {
  props: ['show'],
  data() {
    return {
      province: [],
      city: [],
      area: [],
      index: []
    }
  },
  onReady() {
    this.init()
  },
  methods: {
    async init() {
      await this.getProvince()
      await this.getCity(0)
      await this.getArea(0)
    },
    async getProvince() {
      this.province = await getAddr({
        pid: 0
      })
    },
    async getCity(index) {
      this.city = await getAddr({
        pid: this.province[index].areaId
      })
    },
    async getArea(index) {
      this.area = await getAddr({
        pid: this.city[index].areaId
      })
    },
    async bindChange(e) {
      this.index = e.detail.value
      await this.getCity(e.detail.value[0])
      await this.getArea(e.detail.value[1])
    },
  },
}
</script>

<style>
.picker-view {
  height: 300px;
}
</style>