<template>
	<view>
		<view v-if="!hasUser" class="noUser">
			<view class="userInfo-avatar">
				<image alt='未登录' />
			</view>
			<view class="userInfo-name noUser">
				<view @click="getUser">未登录，请点击这里前去登录/授权</view>
			</view>

		</view>
		<view v-else>
			<!-- 用户信息 -->
			<view class="userInfo">
				<view class="userInfo-avatar">
					<open-data type="userAvatarUrl"></open-data>
				</view>
				<view class="userInfo-name">
					<open-data type="userNickName"></open-data>
				</view>
			</view>
			<!-- 关于绑定手机号 -->
			<view class="phone">
				<text class="show-tip">绑定手机号后可查看订单和领取优惠券，</text>
				<text class="goToBind" @click="BindPhone">去绑定</text>
			</view>
		</view>
		<MINA :hasUser='hasUser' />
	</view>
</template>

<script>
	import MINA from './com/index.vue'
	export default {
		data() {
			return {
				hasUser: false
			}
		},
		components: {
			MINA

		},
		onShow() {
			uni.getStorageSync('userInfo') ? this.hasUser = true : this.hasUser = false
		},
		methods: {

			//绑定手机号BindPhone
			async BindPhone() {
				uni.navigateTo({
					url: "/pages/BindPhone/index",
				});
			},
			getUser() {
				let that = this
				uni.getUserProfile({
					desc: '获取用户信息',
					success: function(res) {
						that.$store.commit('getUserInfo', res.userInfo)
						that.hasUser = true
						uni.setStorageSync('userInfo', res.userInfo)
					},

				})
			},

		}
	}
</script>

<style scoped lang="scss">
	.phone {
		position: relative;
		background: #fff;
		box-sizing: border-box;
		margin: 0 30rpx;
		height: 60rpx;
		line-height: 60rpx;
		border: 2rpx solid #f7f7f7;
		border-bottom: 2rpx solid #f7f7f7;
		border-radius: 30rpx;
		padding-left: 10px;

		.show-tip {
			font-size: 26rpx;
		}

		.goToBind {
			border-radius: 8rpx;
			font-size: 28rpx;
			color: #e24b4b;
			font-weight: bold;
		}
	}

	.userInfo {
		position: relative;
		width: 100%;
		background: #fff;
		text-align: center;
		padding: 30rpx 0;
	}

	.userInfo-avatar {
		overflow: hidden;
		display: block;
		width: 160rpx;
		height: 160rpx;
		border-radius: 50%;
		box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
		margin: auto;
	}

	.userInfo-name {
		font-size: 30rpx;
		font-weight: bold;
		margin-top: 20rpx;
	}
</style>
