<template>
  <view class="search_box">
    <view class="search_top">
      <view class="search_left">
        <view class="search_icon">
          <image src="../../static/icon/search.png" class="img_icon"></image>
        </view>
        <input type="text" placeholder="输入关键字搜索" v-model="inputValue" @blur="toSearchResult" class="input">
      </view>
      <text class="input_canal" @click="cancel">取消</text>
    </view>
    <!-- 热门搜所 -->
    <view class="hot_search">
      <view>热门搜索</view>
    </view>
    <view class="history_search">
      <view class="history_head">
        <view class="history_head_felt">历史搜所</view>
        <view class="history_head_right">
          <image src="../../static/icon/clear-his.png" class="imgicon" @click="clearHistory"></image>
        </view>
      </view>
      <view class="alltext">
        <text v-for="(item, index) in historyList" :key="index" class="hisItem">{{item}}</text>
      </view>
    </view>
  </view>
</template>

<script>
export default {
  name: "search",
  props: {},
  data() {
    return {
      inputValue: "",
      historyList: []
    }
  },
  computed: {},
  onLoad() {
    this.init()
  },
  methods: {
    async init() {
      const datas = await JSON.parse(uni.getStorageSync("historyList"));
      this.historyList = datas;
    },
    //点击取消
    cancel() {
      uni.navigateBack()
    },
    toSearchResult(e) {
      if (this.inputValue === '') {
        return;
      }
      const value = e.target.value
      this.inputValue = value;
      this.historyList.push(e.target.value)
      uni.setStorageSync("historyList", JSON.stringify(this.historyList))
      uni.navigateTo({
        url: `/pages/search_result/index?valuename=${value}`
      });
    },
    clearHistory(){
      uni.setStorageSync("historyList", JSON.stringify([]))
      this.init()
    }
  },
  watch: {},

  // 组件周期函数--监听组件挂载完毕
  mounted() { },
  // 组件周期函数--监听组件数据更新之前
  beforeUpdate() { },
  // 组件周期函数--监听组件数据更新之后
  updated() { },
  // 组件周期函数--监听组件激活(显示)
  activated() { },
  // 组件周期函数--监听组件停用(隐藏)
  deactivated() { },
  // 组件周期函数--监听组件销毁之前
  beforeDestroy() { },
}
</script>

<style lang="scss" scoped>
.search_top {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #ccc;

  .search_icon {
    height: 25px;
    width: 30px;
    background-color: #fff;
    border-radius: 10px 0 0 10px;
    text-align: right;
    line-height: 25px;
  }

  .img_icon {
    height: 13px;
    width: 13px;
    background-color: #fff;
    margin-top: 2px;
  }
}

.search_left {
  width: 85%;
  display: flex;
  justify-content: center;
}

.input {
  background-color: #fff;
  width: 100%;
  height: 25px;
  font-size: 12px;
  border-radius: 0 10px 10px 0;
}

.input_canal {
  color: red;
  font-size: 13px;
}

// 热门
.hot_search {
  width: 100%;
  height: 50px;
  font-size: 15px;
  border-bottom: 1px solid #999;

  view {
    margin-top: 15px;
    margin-left: 20px;
  }
}

.history_search {
  width: 100%;
  height: 50px;
  font-size: 15px;

  .history_head {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#666;

    .history_head_felt {
      margin-left: 5%;
    }

    .history_head_right {
      margin-right: 5%;
    }
  }

  .imgicon {
    height: 15px;
    width: 15px;
  }
}
.alltext{
   margin:0 10px;
}
.hisItem {
  max-width: 300rpx;
  overflow: hidden;
  float: left;
  border-radius: 50rpx;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #f2f2f2;
  box-sizing: border-box;
  margin-right: 20rpx;
  margin-bottom: 20rpx;
  padding: 10rpx 30rpx !important;
}
</style>