.detail {
  width: 100%;
  .detail_top {
    height: calc(100% - 50px);
    background: #e1e1e1;
    > view {
      margin-bottom: 10px;
      background: #fff;
    }
  }
  button {
    height: 50px;
    outline: none;
    border: none;
    background-color: #fff;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }

  .detail_swiper {
    width: 100%;
    height: 300px;
  }

  .shop_info {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    .info {
      .info_des {
        line-height: 30px;

        .prodName {
          font-size: 14px;
          font-weight: bold;
        }

        .brief {
          color: #999;
        }
      }
      .price {
        line-height: 50px;
        font-size: 16px;
        color: #f09;
      }
    }

    .likeIcon {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      width: 40px;
      font-size: 20px;
      .like {
        color: #f09;
      }
      .dislike {
        color: #333;
      }
      .likeText {
        font-size: 14px;
      }
    }
    .likeIcon::before {
      position: absolute;
      left: 0;
      content: '';
      display: inline-block;
      height: 40px;
      border-left: 1px solid #f1f1f1;
    }
  }
  .shop_check {
    width: 100%;
    line-height: 40px;
    box-sizing: border-box;
    padding-left: 10px;
    margin: 10px 0;
  }
  .goodsNav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .comment {
    width: 100%;

    .comment_positiveRating {
      color: #f09;
      font-size: 12px;
      box-sizing: border-box;
      padding-left: 10px;
    }

    .comment_tag {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 10px 0;
      .comment_tag_item {
        padding: 3px 6px;
        background: pink;
        color: #333;
        font-size: 12px;
      }
    }
  }
  .bottom_button {
    margin: 0;
    padding: 0;
    background-color: #fff;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    > view {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .optionButton {
      /*   width: 40; */
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-size: 12px;
      line-height: 20px;
      height: 50px;
    }

    .button {
      width: 60%;
      flex: 1;
    }
  }
  .detail_popup {
    width: 100%;
    height: 100%;
    .detail_popup_container {
      width: 100%;
      height: 500px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      .info {
        display: flex;
        text-align: center;
        height: 80px;
        width: 100%;
        margin-top: -20px;
        margin-left: 10px;
        align-items: flex-end;
        image {
          width: 80px;
          height: 80px;
        }
        .hasInfo {
          display: flex;
          flex-direction: column;
          margin-left: 10px;
          text-align: left;

          .price {
            color: #f09;
          }
          .checkInfo {
            display: flex;
            flex-direction: row;
            align-items: center;
          }
        }
      }
      .type {
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        > view {
          width: 100%;
          display: flex;
          flex-direction: column;
          .title {
            color: #999;
          }
          .choose {
            width: 100%;
            display: flex;
            align-items: center;
            text {
              background-color: #f1f1f1;
              margin: 10px 5px;
              padding: 3px 6px;
              line-height: 20px;
            }
            .active {
              color: #fff;
              background: #f09;
            }
            .disabled {
              color: #d1d1d1;
              background: #fff;
            }
          }
        }
        .num {
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }
  .popup_button {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .popup_button_item {
      flex: 1;
      color: #fff;
    }
  }
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    text {
      margin: 0 5px;
    }
  }
}
