<template>
	<view class="detail">
		<view class="detail_top">
			<!-- 轮播 -->
			<view class="detail_swiper">
				<swiper indicator-dots autoplay circular indicator-active-color="#f09" style="width:100%;height: 100%;">
					<swiper-item v-for="(item, index) in imgList" :key="index">
						<image :src="item" mode="scaleToFill" style="width:100%;height: 100%;" />
					</swiper-item>
				</swiper>
			</view>
			<!-- 信息 -->
			<view class="shop_info">
				<view class="info">
					<view class="info_des">
						<view class="prodName">{{detail.prodName}}</view>
						<view class="brief">{{detail.brief}}</view>
					</view>

					<view class="price">
						<text>￥{{detail.price}}</text>
						<text v-if="detail.price!==detail.oriPrice && detail.oriPrice !== 0">￥{{detail.oriPrice}}</text>
					</view>
				</view>
				<view class="likeIcon" @click="collection">
					<van-icon name="like-o" :class="isInCollect===true?'like':'dislike'" />
					<view class="likeText" :class="isInCollect===true?'like':'dislike'">收藏</view>
				</view>
			</view>
			<!-- 选择商品数 -->
			<view class="shop_check">
				<view>已选0件</view>
			</view>
			<!-- 评论 -->
			<view class="comment">
				<van-cell :value="'共'+comment.number+'条'" is-link @click="toComment">
					<view slot="title">
						<text class="van-cell-text">评价</text>
						<text class="comment_positiveRating">好评率{{comment.positiveRating}}%</text>
					</view>
				</van-cell>
				<view class="comment_tag">
					<text class="comment_tag_item">全部{{comment.number}}</text>
					<text class="comment_tag_item">好评{{comment.praiseNumber}}</text>
					<text class="comment_tag_item">中评{{comment.secondaryNumber}}</text>
					<text class="comment_tag_item">差评{{comment.negativeNumber}}</text>
					<text class="comment_tag_item">有图{{comment.picNumber}}</text>
				</view>
			</view>
			<!-- 详情 -->
			<view class="content" v-html="detail.content"></view>
			<Popup :comment="comment" @close='close' v-show="show">
				<view class="comment">
					<view class="top">
						<view>
							<text class="van-cell-text">评价</text>
							<text class="comment_positiveRating">好评率{{comment.positiveRating}}%</text>
						</view>
						<view>
							<text>共{{comment.number}}条</text>
							<text @click="close">x</text>
						</view>
					</view>
					<view class="comment_tag">
						<text class="comment_tag_item">全部{{comment.number}}</text>
						<text class="comment_tag_item">好评{{comment.praiseNumber}}</text>
						<text class="comment_tag_item">中评{{comment.secondaryNumber}}</text>
						<text class="comment_tag_item">差评{{comment.negativeNumber}}</text>
						<text class="comment_tag_item">有图{{comment.picNumber}}</text>
					</view>
				</view>
			</Popup>

		</view>
		<view class="bottom_button">
			<view>
				<button open-type="contact" class="optionButton">
					<uni-icons type="headphones" :size="20" color="#000" style="" />
					<view>客服</view>
				</button>
				<button class="optionButton">
					<uni-icons type="cart" :size="20" color="#000" style="" />
					<view>购物车</view>
				</button>
			</view>
			<view class="button">
				<button style="background-color:#f00;color: #fff;" @click="buttonClick">加入购物车</button>
				<button style="background-color:#f90;color: #fff;" @click="buttonClick">立即购买</button>
			</view>

		</view>
		<!-- 弹窗 sku -->
		<uni-popup ref="popup" type="bottom" class="detail_popup">
			<view class="detail_popup_container">
				<view class="info">
					<view>
						<image :src="showObj.pic" />
					</view>
					<view class="hasInfo">
						<view class="price">
							<text>￥{{showObj.price}}</text>
							<text
								v-if="showObj.price!==showObj.oriPrice && showObj.oriPrice !=0">{{showObj.oriPrice}}</text>
						</view>
						<view class="checkInfo"><text>已选择</text> <text
								v-if="showObj.defaultSkuList">{{showObj.defaultSkuList.join('')}}</text>
							<text>{{num}}件</text>
						</view>
					</view>
				</view>
				<view class="type">
					<view v-if="showObj.properties.length">
						<view v-for="(value, key) in showObj.properties" :key="key">
							<view class="title">{{value.title}}</view>
							<view class="choose">
								<text v-for="(item, index) in value.titlePlus" :class="[isActive({
									item,key
								})]" :key="index" @click="changeChoose({
									key,item
								})">{{item}}</text>
							</view>
						</view>
					</view>
					<view class='num'>
						<view>数量{{num > item.stocks && item.stocks!=-1 ? '库存不足' : '' }}</view>
						<van-stepper :value="1" @change="onChange" />
					</view>
				</view>
				<view class="popup_button">
					<button style="background-color:#f00" class="popup_button_item" @click="addCart">加入购物车</button>
					<button style="background-color:#f90" class="popup_button_item" @click="buy">立即购买</button>
				</view>
			</view>
		</uni-popup>


	</view>

</template>

<script src="./js/index.js">

</script>

<style lang="scss" scoped>
	@import './scss/index.scss';
</style>
