.cart {
  width: 100%;
  height: 100%;
  .cart_container {
    width: 100%;
    height: calc(100% - 50rpx);
    overflow-y: auto;
  }
  .cart_list {
    width: 100%;
    background-color: #f1f1f1;
    .cart_item {
      display: flex;
      align-items: center;
      background-color: #fff;
      .cart_card {
        flex: 1;
        background-color: #fff;
        view {
          background-color: #fff;
        }
      }
    }
  }
  .del {
    color: #f00;
    margin-left: 5rpx;
  }
}
