<template>
	<view class="pay">

		<view class="address">
			<view v-if="userAddr" class="userAddr">
				<van-cell center icon="location-o" :title="userAddr.receiver" :label="userAddr.addr" is-link
					url="/pages/address/index?type=check">
				</van-cell>
			</view>
			<view v-else class="noAddr">未选择收货地址</view>
		</view>
		<view class="shop">
			<view v-if="orderListDetail.length === 0">
				<view v-for="(value, key) in orderList" :key="key">
					<view v-for="(item, index) in value" :key="index">
						<van-card :price="item.price" :num="item.prodCount" :des="item.skuName" :title="item.prodName"
							:thumb="item.pic" class="card">
						</van-card>
					</view>
				</view>
			</view>
			<view v-else>
				<view v-for="(item, index) in orderListDetail" :key="index">
					<van-card :price="item.price" :num="item.prodCount" :des="item.skuName" :title="item.prodName"
						:thumb="item.pic" class="card">
					</van-card>
				</view>
			</view>

			<view class="flex_end"><text>共{{totalCount}}件商品</text><text>合计：￥{{actualTotal.toFixed(2)}}</text></view>
		</view>

		<view class="info">
			<van-cell-group>
				<van-cell title="优惠卷" :value="coupons.totalLength  +'张'" isLink @click="showCoupons" />
				<van-cell>
					<view slot="title">
						<view class="van-cell-text">买家留言</view>
						<input v-model="text" placeholder="给买家留言" placeholder-class="input-placeholder" />
					</view>
				</van-cell>
			</van-cell-group>
			<van-cell-group>
				<van-cell title="订单总额" :value="'￥'+actualTotal" />
				<van-cell title="运费" :value="'￥'+transfee" />
				<van-cell title="优惠金额" :value="'￥'+orderReduce" />
			</van-cell-group>
			<view v-if="show" class='popup-cnt'>
				<view class="popup-check">
					<view class="coupons">
						<view>
							<view class="title can">可用优惠卷</view>
							<view v-if="coupons.canUseCoupons.length" class="list">
								<view v-for="(item,index) in coupons.canUseCoupons" :key="index">
									<view @click="checkCoupons"></view>
								</view>
							</view>
							<view v-else class="list">暂无可用优惠卷</view>
						</view>
						<view>
							<view class="title unCan">不可用优惠卷</view>
							<view v-if="coupons.unCanUseCoupons.length" class="list">
								<view v-for="(item,index) in coupons.unCanUseCoupons" :key="index">
									<view></view>
								</view>
							</view>
							<view v-else class="list unCan">暂无可用优惠卷</view>
						</view>
						<view class="botm-empty"></view>
					</view>
					<view class="view-ok">
						<button @click="sureCoupons">确定</button>
					</view>
				</view>
			</view>
		</view>
		<van-submit-bar :price="actualTotal*100" button-text="提交订单" @submit="submit" :tip="true"></van-submit-bar>
	</view>
</template>

<script src="./js/index.js">

</script>

<style scoped lang="scss">
	@import './scss/index.scss';
</style>
