<template>
  <view class="container">
    <view v-if="hasUser">
      <view class="main">
        <radio-group class="radio-group" @change="radioChange">
          <block v-for="(val,index,) in addresslist" :key="val.addrId">
            <view class="address" @click="checkAddrId(val.addrId)">
              <view class="personal" @click="handleCarAddr(val.addrId)">
                <view class="info-tit">
                  <text class="name">{{ val.receiver }}</text>
                  <text class="tel">{{ val.mobile }}</text>
                  <image src="../../static/icon/revise.png" @click="ToAddRes(val.addrId)"></image>
                </view>
                <view class="addr">
                  <text class="addr-get">{{ val.province }}{{ val.city }}{{ val.area
                  }}{{ val.addr }}</text>
                </view>
              </view>
              <view class="select-btn">
                <view class="box">
                  <label bindtap="onDefaultAddr">
                    <radio color="#eb2444" :checked="index === current" :value="val.addrId" />设为默认地址
                  </label>
                </view>
              </view>
            </view>
          </block>
        </radio-group>
      </view>
      <view class="footer" @click="onAddAddr">
        <text>新增收货地址</text>
      </view>
    </view>
    <view v-else class="noUser">
      暂无授权/登录
    </view>
  </view>
</template>

<script>
import { addAddrList, defaultAddr } from "@/service/user";

export default {
  data() {
    return {
      current: 0,
      addresslist: {},
      hasUser: false,
      type: ''
    };
  },
  onLoad({ type }) {
    this.type = type
    console.log(type);
  },
  onShow() {
    this.init();
    this.hasUser = uni.getStorageSync('userInfo') ? true : false;
  },
  methods: {
    checkAddrId(id) {
      if (this.type) {
        console.log(111);
        this.$store.commit('getAddrId', id)
        uni.redirectTo({ url: '/pages/pay/index?isCheck=true' })
        this.type = ''
      }
    },
    radioChange(e) {
      for (let i = 0; i < this.addresslist.length; i++) {
        if (this.addresslist[i].addrId === Number(e.detail.value)) {
          this.current = i;
          break;
        }
      }
      defaultAddr(Number(e.detail.value));
    },
    async init() {

      const res = await addAddrList();
      this.addresslist = res;
    },
    async onAddAddr() {
      await uni.navigateTo({
        url: "/pages/address_edit/index",
        redirect: false,
      });
    },
    async ToAddRes(addrId) {
      await uni.navigateTo({
        url: "/pages/address_new/index?addrId=" + addrId,
        redirect: false,
      })
      if (addrId) {
        uni.setStorageSync("addrId", addrId)
      }
    },
    handleCarAddr(addrId) {
    }
  },
};
</script>

<style>
.container {
  background-color: #f4f4f4;
  position: relative;
}

.logo {
  height: 200rpx;
  width: 200rpx;
  margin: 200rpx auto 50rpx auto;
}

.text-area {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 36rpx;
}

.main {
  /* margin-top: 20rpx; */
  height: calc(100% - 90rpx);
  overflow-y: scroll;
}

.address {
  margin-top: 20rpx;
  margin-bottom: 15rpx;
  width: 100%;
  background-color: #fff;
  border-bottom: 2rpx solid #e9eaec;
}

.address .personal {
  position: relative;
  padding: 20rpx 30rpx;
  border-bottom: 3rpx dashed #e9eaec;
}

.address .personal .info-tit .name {
  margin-right: 30rpx;
  font-size: 32rpx;
  display: inline-block;
}

.address .personal .info-tit .tel {
  font-size: 30rpx;
}

.address .personal .info-tit image {
  position: absolute;
  right: 30rpx;
  top: 46rpx;
  width: 40rpx;
  height: 40rpx;
  margin-left: 50rpx;
  vertical-align: middle;
}

.personal .addr {
  font-size: 26rpx;
  margin: 10rpx 0;
}

.personal .addr .addr-get {
  display: inline-block;
  color: #999;
  width: 100%;
  word-break: break-word;
}

.address .select-btn {
  padding: 15rpx 30rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.address .select-btn .box {
  font-size: 26rpx;
}

.address .personal .adderss_sp {
  margin-left: 20rpx;
  font-size: 24rpx;
}

.footer {
  height: 90rpx;
  line-height: 90rpx;
  width: 760rpx;
  text-align: center;
  color: red;
  font-size: 32rpx;
  border-top: 1px solid #e9eaec;
  position: fixed;
  bottom: 0rpx;
  background-color: #fff;
}

.empty .img {
  text-align: center;
  margin-top: 130rpx;
}

.empty .img image {
  width: 100rpx;
  height: 100rpx;
  display: block;
  margin: auto;
}

.empty .txt {
  margin-top: 30rpx;
  font-size: 24rpx;
  text-align: center;
  color: #999;
}
</style>
