<template>
  <view class="container">
    <van-tabs :active="active" @change="onChange" class="tabs">
      <van-tab title="全部"></van-tab>
      <van-tab title="待支付"></van-tab>
      <van-tab title="待发货"></van-tab>
      <van-tab title="待收货"></van-tab>
      <van-tab title="已完成"></van-tab>
    </van-tabs>
    <view class="hidden"></view>
    <view v-if="hasUser">

      <view v-if="list.length>0" class="pay_container">
        <view v-for="(a, b) in list" :key="b">
          <view class="pay_number">
            <text>订单号：{{a.orderNumber}}</text>
            <text v-if="a.status === 1" class="hasColor">待付款</text>
            <text v-if="a.status === 2" class="hasColor">待发货</text>
            <text v-if="a.status === 3" class="hasColor">待收货</text>
            <text v-if="a.status === 4" class="hasColor">待评价</text>
            <text v-if="a.status === 5" class="hasColor">成功</text>
            <text v-if="a.status === 6" class="hasColor">失败</text>
          </view>
          <view class="card_box">
            <view v-for="(item, index) in a.orderItemDtos" :key="index" class="card">
              <van-card :price="item.price" :des="item.skuName" :title="item.prodName" :thumb="item.pic"
                        :num="item.prodCount">
              </van-card>
            </view>
          </view>
          <view class="pay_price">
            <view>
              <text>共{{a.count}}件商品</text>
              <text>合计：￥{{a.actualTotal}}</text>
            </view>
          </view>
          <view class="pay_but">
            <view class="pay_button">
              <text v-if="a.status === 1" @click="cancel(a.orderNumber)" class="cancel">取消订单</text>
              <text v-if="a.status === 1 || a.status === 5" @click="againToBuy(a.orderNumber)">重新购买</text>
              <text v-if="a.status === 1" @click="pay(a.orderNumber)">付款</text>
              <text v-if="a.status === 6 || a.status === 5" @click="del(a.orderNumber)" class="cancel">删除</text>
              <text v-if="a.status === 3" @click="sureGetOrder(a.orderNumber)">确认收货</text>
              <text v-if="a.status === 5" @click="showPopup(a.orderNumber)">评论</text>
            </view>
          </view>
          <van-popup :show="show" @close="onClose">
            <textarea v-model="comment.content"></textarea>
            <van-rate :value="value" @change="onRateChange" />
            <button @click="onClose">取消</button>
            <button @click="addComment">确定</button>
          </van-popup>
        </view>
      </view>

      <view class="empty" v-else> 还没有任何相关订单 </view>

    </view>
    <view v-else-if="!hasUser" class="noUser">
      暂无授权/登录
    </view>
  </view>
</template>

<script src="./js/index.js">

</script>

<style lang="scss" scoped>
@import './scss/index.scss';
</style>