<template>
  <view class="notice">
    <view v-for="(item, index) in noticeData" :key="index" class="notice_wrap" @click="toNoticeDetail(item.id)">
      <view class="notice_title">{{item.title}}</view>
      <view class="notice_time">{{item.publishTime}}</view>
    </view>
  </view>
</template>

<script>
import { getNotice } from "../../service/index";
export default {
  name: "notice_page",
  props: {},
  data() {
    return {
      noticeData: []
    }
  },
  computed: {},
  onLoad() {
    this.noticeings()
  },
  methods: {
    async noticeings() {
      this.noticeData = await getNotice()
    },
    //跳转公告详情页面
    toNoticeDetail(id) {
      uni.navigateTo({
        url: `/pages/notice_detail/index?id=${id}`
      });
    }
  },
  watch: {},

  // // 组件周期函数--监听组件挂载完毕
  // mounted() {},
  // // 组件周期函数--监听组件数据更新之前
  // beforeUpdate() {},
  // // 组件周期函数--监听组件数据更新之后
  // updated() {},
  // // 组件周期函数--监听组件激活(显示)
  // activated() {},
  // // 组件周期函数--监听组件停用(隐藏)
  // deactivated() {},
  // // 组件周期函数--监听组件销毁之前
  // beforeDestroy() {},
}
</script>

<style lang="scss" scoped>
.notice {
  width: 100%;

  .notice_title {
    font-size: 14px;
    // padding: 5px 0;
    margin-left: 2%;
    margin-top: 3%;
  }

  .notice_time {
    font-size: 13px;
    text-align: right;
    margin-right: 2%;
    margin-bottom: 3%;
    padding: 5px 0;
    color: #666;
  }

  .notice_wrap {
    border-bottom: 1px solid #666;
    width: 100%;
  }
}
</style>