<script>
import { login } from '@/service'
export default {
	onLaunch() {

	},
	async onShow() {
		this.$store.dispatch('getCartLength')
		let token = uni.getStorageSync('token');
		if (token) {
			
		} else {
			let [_, { code }] = await uni.login()

			let result = await login({
				principal: code
			})
			const { access_token, token_type, refresh_token } = result;
			uni.setStorageSync('token', token_type + access_token)
		}
	},
	onHide: function () {
	},
}
</script>

<style>
/*每个页面公共css */
@import '/wxcomponents/vant/common/index.wxss';

html,
body,
#app {
	width: 100%;
	height: 100%;
}
.noUser{
	width: 100%;
	text-align: center;
	line-height: 50px;
}
</style>
