



.list-cont {
  width: 100%;
  background: #f7f7f7;
  margin-top: 20rpx;
}

.total-order {
  background: #ffffff;
}

.prod-col {
  margin-top: 20rpx;
  background: #fff;
  display: flex;
  justify-content: space-around;
  padding: 30rpx 0 10rpx 0;
  font-size: 12px;
}

.prod-col .col-item {
  text-align: center;
}

.prod-col .col-item .num {
  font-size: 16px;
  font-weight: 700;
  color: #3a86b9;
}

.prod-col .col-item .tit {
  line-height: 34px;
}

.my-menu {
  background-color: #fff;
  margin-top: 20rpx;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100rpx;
  padding: 0 30rpx;
}

.i-name {
  display: flex;
  align-items: center;
}

text {
  font-size: 28rpx;
}

.arrowhead {
  width: 15rpx;
  height: 15rpx;
  border-top: 2rpx solid #999;
  border-right: 2rpx solid #999;
  transform: rotate(45deg);
  margin-left: 10rpx;
}

.order-title {
  display: flex;
  justify-content: space-between;
  height: 80rpx;
  line-height: 80rpx;
  font-size: 30rpx;
  border-bottom: 1px solid #f7f7f7;
  padding: 0 30rpx;
}

.checkmore {
  font-size: 22rpx;
  color: #80848f;
  display: flex;
  align-items: center;
}

.arrowhead {
  width: 15rpx;
  height: 15rpx;
  border-top: 2rpx solid #999;
  border-right: 2rpx solid #999;
  transform: rotate(45deg);
  margin-left: 10rpx;
  /* background-color: red; */
}

.procedure {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25rpx;
  height: 160rpx;
  position: relative;
  .box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
}

.items {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

image {
  width: 70rpx;
  height: 70rpx;
  margin-bottom: 20rpx;
}
