<template>
	<view>
		<view class="list-cont">
			<view class="total-order">
				<view class="order-title">
					<text style="font-weight: bold">我的订单</text>
					<view class="checkmore">
						<text @click="orderListClick(0)">查看全部</text>
						<text class="arrowhead"></text>
					</view>
				</view>
				<view class="procedure">
					<view class="items" v-for="val in arrowheadList" :key="val.id" @click="orderListClick(val.id)">
						<uni-badge class="uni-badge" :text="hasUser?val.badge:0" absolute="rightTop" size="small">
							<view class="box">
								<image :src="val.image" alt="" />
								<text>{{ val.txt }}</text>
							</view>
						</uni-badge>

					</view>
				</view>
			</view>
			<view class="prod-col">
				<view class="col-item" bindtap='myCollectionHandle'>
					<view class="num">{{hasUser?collectLength:0}}</view>
					<view class="tit" @click="collectionClick">我的收藏</view>
				</view>
				<view class="col-item">
					<view class="num">{{hasUser?newsNum:0}}</view>
					<view class="tit">我的消息</view>
				</view>
				<view class="col-item">
					<view class="num">{{hasUser?lookNum:0}}</view>
					<view class="tit">我的足迹</view>
				</view>
				<view class="col-item">
					<view class="num">{{hasUser?lntegralNum:0}}</view>
					<view class="tit" @click="lntegralClick">我的积分</view>
				</view>
			</view>
			<view class="my-menu">
				<view class="menu-item" @click="AddressClick">
					<view class="i-name">
						<image src="../../../static/icon/myAddr.png" />
						<text>收货地址</text>
					</view>
					<view class="arrowhead"></view>
				</view>
			</view>
		</view>
	</view>
</template>
<script>
import {
	getCollectionLength
} from '@/service/collection'
import {
	getOrderLength
} from '@/service/order'
export default {
	props: {
		hasUser: {
			type: Boolean, // 类型
			required: true, // 是否必须
		},
	},
	data() {
		return {
			title: "收货地址",
			arrowheadList: [{
				image: "../../../static/icon/timePrice.png",
				txt: "待支付",
				id: 1,
				badge: 0
			},
			{
				image: "../../../static/icon/toDelivery.png",
				txt: "待发货",
				id: 2,
				badge: 0
			},
			{
				image: "../../../static/icon/toTake.png",
				txt: "待收货",
				id: 3,
				badge: 0
			},
			{
				image: "../../../static/icon/toComment.png",
				txt: "已完成",
				id: 4,
				badge: 0
			},
			],
			collectLength: 0,
			lntegralNum: 0,
			lookNum: 0,
			newsNum: 0
		}

	},
	onReady() {
		this.getCollectLength()
		this.getOrdersLength()
	},
	methods: {
		//点击跳转地址页面
		async getCollectLength() {
			let len = await getCollectionLength()
			if (typeof len == "number") {
				this.collectLength = len
			}
		},
		async AddressClick() {
			await uni.navigateTo({
				url: "/pages/address/index",
			});
		},

		//点击跳转全部订单
		async orderListClick(index) {
			uni.navigateTo({
				url: "/pages/orderList/index?id=" + index,
			});
		},
		//点击跳转我的积分
		async lntegralClick() {
			uni.navigateTo({
				url: "/pages/lntegral/index",
			});
		},
		//点击跳转收藏页面
		async collectionClick() {
			uni.navigateTo({
				url: "/pages/collection/index",
			});
		},
		async getOrdersLength() {
			let res = await getOrderLength()
			this.arrowheadList[0].badge = res.unPay
			this.arrowheadList[1].badge = res.payed
			this.arrowheadList[2].badge = res.consignment
			this.arrowheadList[3].badge = res.success
		}
	},
};
</script>

<style scoped lang="scss">
@import './index.scss';
</style>
