<template>
  <view class="container">
    <view class="BindPhone">
      <van-field :value='mobile' label="手机号" placeholder="请输入手机号" :border="false" type='number' @change="change"
                 :error-message="errormessage" />
    </view>
    <view class="item">
      <van-cell-group>
        <van-field v-model="code" center clearable label="短信验证码" placeholder="请输入短信验证码" :border="false" use-button-slot>
          <van-button slot="button" size="small" type="primary"
                      :disabled="this.mobile && /^1[3-9]\d{9}$/.test(this.mobile)?false:true" @click="getCodeNumber">
            发送验证码
          </van-button>
        </van-field>
      </van-cell-group>
    </view>

    <view class="btn-box">
      <text v-if="phonenum && code" class="sure-btn" @click="bindMobile">确定</text>
      <text v-if="!phonenum || !code" class="sure-btn gray">确定</text>
    </view>
  </view>
</template>

<script>
import { getCode } from '@/service/my';
export default {
  data() {
    return {
      mobile: '',
      code: '',
      errormessage: ''
    };
  },
  methods: {
    change(e) {
      this.mobile = e.detail
      if (!/^1[3-9]\d{9}$/.test(this.mobile)) {
        this.errormessage = '手机格式不正确'
      }
      else if (!this.mobile) {
        this.errormessage = '手机号不能为空'
      }
      else {
        this.errormessage = ''
      }
    },
    async getCodeNumber() {
      if (this.mobile && /^1[3-9]\d{9}$/.test(this.mobile)) {
        let res = await getCode({
          mobile: this.mobile,
        });
        uni.showToast({
          title: res,
          icon: 'error',
          mask: true,
        });
      } else {
        uni.showToast({
          title: '手机号不正确',
          icon: 'error',
          mask: true,
        });
      }
    },
  },
};
</script>

<style>
.BindPhone {
  height: 100%;
  margin-top: 20rpx;
  background: #fff;
}

.BindPhone .item {
  display: flex;
  padding: 20rpx 0;
  height: 60rpx;
  line-height: 60rpx;
  border-bottom: 2rpx solid #e1e1e1;
}

.BindPhone .item:last-child {
  border: none;
}

.BindPhone .item input {
  flex: 1;
  height: auto;
  padding: 0 20rpx;
  font-size: 28rpx;
}

.BindPhone .item .item-tip {
  width: 140rpx;
  font-size: 28rpx;
  padding-left: 20rpx;
}

.BindPhone .item .get-code {
  font-size: 30rpx;
  color: #999;
  margin-right: 20rpx;
  text-align: center;
}

.BindPhone .item .get-code.gray {
  color: #3eb370;
}

.btn-box {
  padding: 0 20rpx;
  margin-top: 60rpx;
}

.btn-box .sure-btn {
  display: block;
  font-size: 32rpx;
  color: #fff;
  background: #3eb370;
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 20rpx 0;
  border-radius: 50rpx;
}

.btn-box .sure-btn.gray {
  background: #e1e1e1;
  margin-bottom: 30rpx;
}
</style>
