<template>
  <view class="content">
    <!-- 编辑列表 -->
    <view class="input-box">
      <view class="section">
        <text>收 货 人</text>
        <input placeholder="姓名" v-model="list.receiver" />
      </view>
      <view class="section">
        <text>手机号</text>
        <input type="number" placeholder="11位手机号码" v-model="list.mobile" />
      </view>
      <view class="section">
        <text>所在地区</text>
        <picker mode="region" @change="bindRegionChange" :value="region" :custom-item="customItem">
          <view class="picker" v-if="loca">
            {{ list.province }} {{ list.city }} {{ list.area }}
            <view class="arrow">
              <image src="../../static/icon/more.png" />
            </view>
          </view>
          <view class="picker" v-else>
            {{ region[0] }} {{ region[1] }} {{ region[2] }}
            <view class="arrow">
              <image src="../../static/icon/more.png" />
            </view>
          </view>
        </picker>
      </view>
      <view class="section">
        <text>详细地址</text>
        <input placeholder="如楼号/单元/门牌号" v-model="list.addr" />
        <!-- 地图选址 -->
        <view class="arrow_addr" @click="toMap">
          <image src="../../static/icon/delive-dot.png" />
        </view>
      </view>
    </view>
    <!-- 点击按钮 -->
    <view class="btn-box">
      <view class="keep btn" @click="onSaveAddr()">
        <text>保存收货地址</text>
      </view>
      <view class="del btn" @click="dialogToggle">
        <text>删除收货地址</text>
      </view>
    </view>
  </view>
</template>
  
<script>
import {
  addAddrEdita,
  addAddrDel,
  addAddrApi,
  addAddrUpdate,
} from "../../service/user";
const chooseLocation = requirePlugin("chooseLocation");
export default {
  data() {
    return {
      loca: {},
      addrId: uni.getStorageSync("addrId") || "",
      region: ["北京市", "市辖区", "东城区"],
      customItem: "",
      value: [],
      list: {
        addr: "",
        addrId: "",
        area: "",
        areaId: 110101000000,
        city: "",
        cityId: 110100000000,
        commonAddr: "",
        mobile: "",
        province: "",
        provinceId: 110000000000,
        receiver: "",
      },
    };
  },
  onLoad(options) {
    this.addrId = options.addrId
    this.init();
  },
  methods: {
    async dialogToggle() {
      let ID = this.addrId;
      await wx.showModal({
        confirmColor: "#ff0000",
        content: "确定要删除此收货地址吗?",
        success(res) {
          if (res.confirm) {
            addAddrDel(ID);
            wx.navigateBack({
              delta: 1,
            });
          } else if (res.cancel) {
          }
        },
      });
    },
    async onSaveAddr() {
      addAddrUpdate(this.list);
      wx.navigateBack({
        delta: 1,
      });

      if (!receiver) {
        uni.showToast({
          title: "请输入收货人姓名",
          icon: "none",
        });
        return;
      }
      var regexp = /^[1]([3-9])[0-9]{9}$/;
      if (!regexp.test(mobile)) {
        uni.showToast({
          title: "请输入正确的手机号码",
          icon: "none",
        });
        return;
      }
      if (!addr) {
        uni.showToast({
          title: "请输入详细地址",
          icon: "none",
        });
        return;
      }
    },
    // async adddel() {
    //   await addAddrDel(this.addrId);
    //   wx.navigateBack({
    //     delta: 1,
    //   });
    // },

    async init() {
      if (this.addrId) {
        this.list = await addAddrEdita(this.addrId);
      }
    },
    bindRegionChange(e) {
      this.region = e.detail.value;
      this.list.province = e.detail.value.province;
      this.list.city = e.detail.value.city;
      this.list.area = e.detail.value.area;
    },
    onShow() {
      const location = chooseLocation.getLocation(); // 如果点击确认选点按钮，则返回选点结果对象，否则返回null
      this.loca = location;
      this.list.province = location.province;
      this.list.city = location.city;
      this.list.area = location.district;
      this.list.addr = location.address;
    },
    onUnload() {
      // 页面卸载时设置插件选点数据为null，防止再次进入页面，geLocation返回的是上次选点结果
      chooseLocation.setLocation(null);
    },
    toMap() {
      const key = "7L3BZ-EICLX-5PC46-T2VW7-D6X4S-MGF2T"; //使用在腾讯位置服务申请的key
      const referer = "八维电商平台"; //调用插件的app的名称
      //打开地图进行选点服务
      const location = JSON.stringify({
        latitude: 39.89631551, //经度
        longitude: 116.323459711, //纬度
      });
      const category = "生活服务,地图选址";
      uni.navigateTo({
        url:
          "plugin://chooseLocation/index?key=" +
          key +
          "&referer=" +
          referer +
          "&location=" +
          location +
          "&category=" +
          category,
      });
    },
  },
};
</script>
  
<style scoped>
.content {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.input-box {
  margin-bottom: 50rpx;
  background-color: #fff;
  padding: 0 20rpx;
}

.input-box .section {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 28rpx;
  padding: 30rpx 0;
  line-height: 48rpx;
  height: 100%;
  box-sizing: border-box;
  border-bottom: 2rpx solid #e5e5e5;
}

.input-box .section text {
  width: 20%;
  color: #333;
}

.input-box .section input {
  width: 70%;
  padding: 0 20rpx;
  color: #333;
}

.input-box .section .picker {
  display: flex;
}

.input-box .section .arrow {
  width: 28rpx;
  height: 28rpx;
  position: fixed;
  right: 20rpx;
  top: 260rpx;
}

.input-box .section .arrow image {
  width: 100%;
  height: 100%;
  /* //垂直对齐 */
  vertical-align: top;
}

.input-box .section .arrow_addr {
  width: 38rpx;
  height: 38rpx;
  position: fixed;
  right: 20rpx;
  top: 370rpx;
}

.input-box .section .arrow_addr image {
  width: 100%;
  height: 100%;
  /* //垂直对齐 */
  vertical-align: top;
}

/* 按钮 */
.btn-box {
  padding: 5px 10px;
  width: 100%;
  text-align: center;
  margin: auto;
}

.btn-box text {
  font-size: 30rpx;
}

.btn-box .keep.btn,
.del.btn {
  width: 60%;
  height: 80rpx;
  line-height: 80rpx;
  margin: auto;
  text-align: center;
  border: 1rpx solid #eb2444;
  border-radius: 50rpx;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05),
    0 1px 0 rgba(255, 255, 255, 0.3);
}

.btn-box .keep.btn {
  color: #fff;
  background-color: #eb2444;
}

.btn-box .del.btn {
  margin-top: 40rpx;
  color: #eb2444;
  background-color: #f8f0f1b6;
}
</style>
  