<template>

  <view>
    <view v-if="list.length" class="shopBox">
      <view v-for="(item, index) in list" :key="index" @click="toDetail(item.prodId)" class="shopBox_item">
        <ShopItem :item="item"></ShopItem>
      </view>
    </view>
    <view v-else class="empty">
      暂无数据
    </view>
  </view>
</template>

<script>
import ShopItem from '../shopItem/index.vue'
export default {
  name: 'columnShop',
  props: {
    list: {
      type: Array, // 类型
      default: []
    },
  },
  components: {
    ShopItem
  },
  methods: {
    toDetail(id) {
      uni.navigateTo({
        url: `/pages/details/index?id=${id}`
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.shopBox {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;

  .shopBox_item {
    margin: 10px;
    box-shadow: 0 0 1px 1px rgba($color: #000000, $alpha: 0.3);
    width: calc((100% - 40px)/2);

  }
}

.empty {
  width: 100%;
  line-height: 100px;
  text-align: center;
}
</style>