.tabs {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}
.hidden {
  height: 50px;
}
.pay_container {
  width: 100%;
  background-color: #f1f1f1;
  > view {
    margin-bottom: 10px;
    background-color: #fff;
  }
  .card_box {
    background-color: #fff;
    .card {
      margin-bottom: 5px;
    }
  }

  .pay_number {
    box-sizing: border-box;
    padding: 0 5px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .pay_but {
    width: 100%;
    position: relative;
    height: 40px;
    border-bottom: 1px solid #f1f1f1;
    .pay_button {
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      align-items: center;
      text {
        box-sizing: border-box;
        padding: 0 20px;
        margin: 0 5px;
        line-height: 25px;
        font-size: 14px;
        border: 1px solid #f09;
        color: #f09;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
      }
      .cancel {
        border: 1px solid #999;
        color: #333;
      }
    }
  }
  .pay_price {
    width: 100%;
    height: 40px;
    position: relative;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    > view {
      position: absolute;
      right: 10px;
      top: 0;
      display: flex;
      align-items: center;
      line-height: 40px;
    }
  }
  .hasColor {
    color: #f09;
    font-size: 14px;
  }
}
.empty {
  width: 100%;
  text-align: center;
  line-height: 50px;
}
