<template>
	<view class="cart">
		<view v-if="hasUser" class="cart_container">
			<view v-if="cartList.length>0">
				<view class="cart_list">
					<checkbox-group @change="checkboxChange">
						<view v-for="(item, index) in cartList" :key="index" class="cart_item">
							<label class="uni-list-cell uni-list-cell-pd cart_label">
								<checkbox :value="item.basketId"
									:checked="basketIds.includes(item.basketId.toString())" />
							</label>
							<van-card class="cart_card" :price="item.price" :des="item.skuName" :title="item.prodName"
								:thumb="item.pic">
								<view slot="footer">
									<van-stepper :value='item.prodCount' @plus="addProdCount" @minus="subProdCount"
										:data-id="item.basketId" @blur="changeProCount" min='0' />
								</view>
							</van-card>
						</view>
					</checkbox-group>
				</view>
			</view>
			<view v-else>
				<van-empty class="custom-image" image="https://img.yzcdn.cn/vant/custom-empty-image.png"
					description="暂时还没加入商品" />
			</view>
			<view class="lapse_list" v-if="lapseList.length>0">
				<checkbox-group>
					<view v-for="(item, index) in lapseList" :key="index" class="lapse_item">
						<label class="uni-list-cell uni-list-cell-pd lapse_label">
							<checkbox :value="item.basketId" />
						</label>
						<van-card class="lapse_card" :price="item.price" :des="item.skuName" :title="item.prodName"
							:thumb="item.pic">
						</van-card>
					</view>
				</checkbox-group>
			</view>
		</view>

		<view v-else class="noUser">暂未授权</view>
		<van-submit-bar :price="price" button-text="结算" @submit="submit" :tip="true">
			<checkbox-group @change="changeAllCheck">
				<label>
					<checkbox :checked='checked' value="all">全选</checkbox>

				</label>
			</checkbox-group>
			<text @click="del" class="del">删除</text>
			<van-dialog id="van-dialog" />
			<!-- <view slot="tip">您的收货地址不支持同城送, <text>修改地址</text></view> -->
		</van-submit-bar>
	</view>
</template>

<script src="./js/index.js"></script>

<style lang="scss">
	@import './scss/index.scss';
</style>
