.title {
  font-size: 16px;
  line-height: 30px;
}

.input_box {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  width: 300px;
  line-height: 25px;
  text-align: center;
  background: #f0f0f0;
  border-radius: 15px;
}

.input img {
  width: 32rpx;
  height: 22rpx;
  margin-right: 10rpx;
}

.input text {
  font-size: 10px;
  line-height: 25px;
}

.swiper {
  height: 150px;
}

.swiper image {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.swiper-box {
  width: 90%;
  margin-left: 5%;
}

.swiper_time {
  height: 30px !important;
}

.swiper1 {
  height: 30px !important;
}

.swiper1 .swiper_items {
  height: 30px !important;
}

.intruduction {
  height: 150px;
  width: 100%;
}

.intruduction ul {
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  display: flex;
  text-align: center;
}

.intruduction img {
  height: 40px;
  width: 40px;
}

.intruduction text {
  font-size: 12px;
}

.notice {
  display: flex;
  justify-content: space-evenly;
}

.notice .notice_img {
  height: 14px;
  width: 30px;
}

.notice .newday_box {
  width: 100%;
}

.notice .notice_text {
  font-size: 13px;
}

.colors {
  display: inline-block;
  position: relative;
}

.colors::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 31%;
  background-color: dodgerblue;
}

.new_day {
  box-sizing: border-box;
  padding: 0 10px;
  display: flex;
  align-items: center;
  height: 50px;
  line-height: 50px;
  width: 100%;
  justify-content: space-between;
  font-size: 16px;
  background-color: dodgerblue;
}

.new_day .new_day_right {
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.new_day .geng {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgba(135, 206, 235, 0.5);
}

.newday_content {
  display: flex;
  flex-wrap: wrap;
}

.newday_content .newday_for {
  width: 29%;
  margin-left: 3%;
  font-size: 13px;
}

.shop_new_box {
  width: 100%;
}

.shop_new_box .shop_new_day {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shop_new_box .shop_geng {
  font-size: 12px;
}

.shop_new_box .content_box {
  height: 100%;
  width: 100%;
}

.shop_new_day {
  display: flex;
  height: 50px;
  line-height: 50px;
  justify-content: space-between;
  font-size: 13px;
}

.shop_new_day .shop_new_day_left {
  margin-left: 3%;
}

.shop_new_day .shop_new_day_right {
  margin-left: 3%;
}

.shop_new_day .shop_new_day_right {
  margin-right: 3%;
  font-size: 10px;
}

.morebaby_box {
  margin-top: 10px;
}

.morebaby_box .baby_top {
  padding-left: 10px;
}

.morebaby_box .baby_context_box {
  height: 110px;
  display: flex;
  font-size: 15px;
  border: 1px solid #f1f1f1;
}

.morebaby_box .context {
  width: 70%;
  margin-left: 3%;
}

.morebaby_box .context .brief {
  font-size: 10px;
}

.morebaby_box .context .price {
  display: flex;
  justify-content: space-between;
}

.morebaby_box .context .price .price_left {
  color: red;
}

.img1 {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.img {
  height: 100px;
  width: 100px;
}

.baby_img {
  margin-left: 8px;
}
