<template>
  <view @click="toDetail" class="shopItem">
    <!-- <image :src="item.pic" @error="imageError($event, index, i)"></image> -->
    <base-image :src="item.pic"/>
    <view class="prodName">{{item.prodName}}</view>
    <view class="price">￥{{item.price}}</view>
  </view>
</template>

<script>
export default {
  name: 'shopItem',
  props: {
    item: {
      type: Object, // 类型
      default: {}
    },
  },
  methods: {
    toDetail() {
      uni.navigateTo({ url: '/pages/details/index?id=' + this.item.prodId })
    },
  },
}
</script>

<style lang="scss" scoped>
.shopItem {
  width: 100%;

  image {
    height: 150px;
    width: 100%;
  }

  view {
    width: 100%;
    box-sizing: border-box;
    padding-left: 5px;
  }

  .prodName {
    font-size: 12px;
    text-align: start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .price {
    color: red;
    text-align: start;
    display: flex;
    justify-content: space-between;
  }

}
</style>