<template>
    <view class="result">
        <view class="search_top">
            <view class="search_left">
                <view class="search_icon">
                    <image src="../../static/icon/search.png" class="img_icon"></image>
                </view>
                <input type="text" :placeholder="valueInput" v-model="valueInput" @blur="toSearchResult" class="input">
            </view>
            <image class="input_canal" src="../../static/icon/search-col2.png"></image>
        </view>
        <!-- tab切换 -->
        <view class="tabHeader">
            <text v-for="(item, index) in tabList" :key="index" :class="index===current?'active':''"
                  @click="handelChangeIndex(index)">{{item}}</text>
        </view>
        <view>
            <view v-for="(item, index) in searchList" :key="index" @click="toDetail(item.prodId)" class="search_shop">
                <van-card :price="item.price" :des="item.skuName" :title="item.prodName" :thumb="item.pic">
                </van-card>
            </view>
        </view>
    </view>
</template>

<script>
import { getSearch } from "../../service/index"
export default {
    data() {
        return {
            valueInput: "",
            current: 1,
            tabList: ["综合", "销量", "价格"],
            searchList: [],
            total: 0
        }
    },
    onLoad(options) {
        this.valueInput = options.valuename;
        this.init()
    },
    methods: {
        handelChangeIndex(index) {
            this.searchList = []
            this.current = index;
            this.init()
        },
        async init() {
            const data = await getSearch({ current: 1, prodName: this.valueInput, size: 10, sort: this.current })
            this.searchList = this.searchList.concat([...data.records]);
            this.total = data.total
        },
        //跳转商品详情
        toDetail(id) {
            uni.navigateTo({
                url: `/pages/details/index?id=${id}`
            })
        }
    },
    onReachBottom() {
        if (this.searchList.length < total) {
            this.current++
            this.init()
        }
    }
}
</script>

<style lang="scss" scoped>
.result {
    background-color: #f1f1f1;

    >view {
        background-color: #fff;
    }
}

.search_top {
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ccc;

    .search_icon {
        height: 25px;
        width: 30px;
        background-color: #fff;
        border-radius: 10px 0 0 10px;
        text-align: right;
        line-height: 25px;
    }

    .img_icon {
        height: 13px;
        width: 13px;
        background-color: #fff;
        margin-top: 2px;
    }
}

.search_left {
    width: 85%;
    display: flex;
    justify-content: center;
}

.input {
    background-color: #fff;
    width: 100%;
    height: 25px;
    font-size: 12px;
    border-radius: 0 10px 10px 0;
}

.input_canal {
    color: red;
    height: 12px;
    width: 12px;
}

//tab切换
.tabHeader {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .active {
        color: red;
    }
}

.search_shop {

    margin-bottom: 10px;
    background-color: #fff;
}
</style>